# Dependencies
frontend/node_modules
backend/venv/
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.env
.venv
env/
venv/
ENV/
*.pyc
__pycache__/
*.pyo
*.pyd

# React/Node
frontend/build/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/coverage/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
frontend/node_modules/.cache/default-development/2.pack
