# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/
.env
.venv
env/
venv/
ENV/
*.db

# React/Node
node_modules/
frontend/build/
frontend/coverage/
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

